.heading{
    text-align: center;
    text-decoration: solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:50px;
}
body{
    background-color:palegreen;
}
.box{
    border:2px solid white;
    position:relative;
    left:20px;
    height:540px;
    width:500px;
    padding :20px;
    background-color:cornsilk;
    font-style:inherit;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;

}
.para{
    font-size: 23px;
}
.login input{
    height:30px;
    width:270px;
    padding:10px;
    font-size:22px;
}
.login_button{
    width:250px;
    height:50px;
    font-size: 20px;
    background-color: bisque;
}
.Zone{
    height:40px;
    width:300px;
    font-size:22px;
}
.logo{
    position:absolute;
    top:125px;
    left: 570px;
    height:584px;
    width:950px;
}